$color-gray: #f5f5f5;
$color-gray-rgba: rgba(245,245,245, 1);
$color-violet: #d8d3db;
$color-violet-rgba: rgba(216,211,219, 1);
$color-red: #ae696f;
$color-red-rgba: rgba(174,105,111, 1);
$color-pink: #d2959b;
$color-pink-rgba: rgba(210,149,155, 1);

//#c9ae92	(201,174,146)

$color-black: #000;