$color-gray: #f5f5f5;
$color-gray-rgba: rgba(245,245,245, 1);
//#d8d3db	(216,211,219)
$color-red: #ae696f;
$color-red-rgba: rgba(174,105,111, 1);
//#d2959b	(210,149,155)
//#c9ae92	(201,174,146)

$color-black: #000;